<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The Flutter tool needs internet access to communicate with the
         running application to allow setting breakpoints, to provide hot
         reload, etc. -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
